---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title"><i class="fa {{ page.thumbnail }}"></i> {{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
	{% if page.featured_video %}
      <div class="video-container">
		  <iframe width="560" height="315" src={{ page.featured_video }}
        frameborder="0" allowfullscreen></iframe>{: itemprop="associatedMedia" itemscope itemtype="http://schema.org/VideoObject"}
      </div>
	  <hr style="margin:10px;">
    {% endif %}
    {{ content }}
  </article>

</div>
